<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  d-flex justify-content-around" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page"><h3>J.Allisa</h3></a>
                <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
                <a class="nav-link" routerLink="About" routerLinkActive="active">About</a>
                <a class="nav-link" routerLink="Livre" routerLinkActive="active"> Livre</a>
                <a class="nav-link" routerLink="Blog" routerLinkActive="active"> Blog</a>
                <a class="nav-link" routerLinkActive="Contact" routerLinkActive="active"> Contact</a>
            </div>
        </div>
        </div>
    </nav>
</header>
