<footer>
    <div class="Icons">
        <a href="https://www.pinterest.fr/"><i class="bi bi-pinterest"></i></a>
        <a href="htts://www.facebook.com"><i class="bi bi-facebook"></i></a>
        <a href="https://twitter.com/?lang=fr"><i class="bi bi-twitter"></i></a>
        <a href="https://www.whatsapp.com/?lang=fr"><i class="bi bi-whatsapp"></i></a>
    </div>  
    <div class="footer">
        <div class="footer-content">
        <a><p class="one">Mentions légales</p></a>
        <div class="two">
            <a><p>Politique en matière de cookies</p></a>
            <a><p>Politique de confidentialité</p></a>
            <a><p>Conditions d'utilisation</p></a>
        </div>
        </div>
    </div>
</footer>
  
