<div class="container">
    <div class="container-content">
        <div class="text">
            <p class="texte-title">Get in Touch</p>
            <p class="texte-content">Contact us for a quote, Help to join the team</p>
        </div>
        <div class="contact">
            <div class="local">
                <i class="bi bi-geo-alt-fill"></i>
                <p>102 street 2714 DON </p>
            </div>
            <div class="phone">
                <i class="bi bi-telephone-fill"></i>
                <p>+02 1234 537</p>
            </div>
            <div class="email">
                <i class="bi bi-envelope-fill"></i>
                <p>jallissamada@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="new-container">
        <div class="new-container-content">
            <div class="name">
                <p>Your Name</p>
                <i class="bi bi-person-fill"></i>
                <input type="text" class="form-control" placeholder="" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="Mail">
                <p>Mail</p>
                <i class="bi bi-envelope-fill"></i>
                <input type="text" class="form-control" placeholder="" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="telephone">
                <p>Phone</p>
                <i class="bi bi-phone"></i>
                <input type="text" class="form-control" placeholder="" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
        <div class="message">
            <p>Your message</p>
            <textarea name="Your message" id="" cols="20" rows="5" class="textarea"></textarea>
            <button>Send message</button>
        </div>
    </div>
</div>
