@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Lobster&family=Quicksand:wght@600&family=Water+Brush&display=swap');
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
   width: 35%;
   margin: 20px;

}
img{
    border-radius:5px;
    width: 30vw; 
    height: 30vh;
}
.name{
    font-size: 28px;
    color: #34495E
    ;

}
.local{
    display: flex;
    font-weight: 2px;
    font-size: 13px;
    align-items: center;
    color: gray;
}
i{
    margin-right: 10px;
    font-size: 25px;
    font-weight: 20px;
    color:black;
}
.like{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.input{
    textarea{
        width: 20vw;
        height: 40px;
        border-radius: 5px;
        border-color:grey;
}
    .send{
        font-size: 15px;
        width: 100px;
        background-color: #91CB3E;
        border: none;
        border-radius: 5px;
        color:whitesmoke;
    }
    display: flex;
    justify-content: space-between;
}
.remove{
    font-size: 15px;
    width: 100px;
    margin-top: 12px;
    background-color: #91CB3E;
    border: none;
    border-radius: 5px;
    color:whitesmoke;
    height: 43px;
}
.mention{
    .commentaire{
        opacity: 2;
        transition: opacity 0.5;
    }
}