<div class="row " >
    <div class="col-6">
        <img src="../../assets/csavoir.avif"/>
    </div>
    <div class="col-3"><p id="title">Passion émission culinaire</p>
        <p>Au fait, il faut que je vous avoue quelque chose, j’ai une passion pour les émissions culinaires. La mode est aux concours de cuisine à la Top Chef. Mais moi mes émissions culinaires préférées sont les portraits de chefs. Du coup je fais une exception pour les concours de cuisine anglais (si, si), dont l’état d’esprit, le fair play et la bienveillance envers les candidats me correspondent plus. </p>
    </div>
</div>