<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  d-flex justify-content-around" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#"><h3>J.Allisa</h3></a>
            <a class="nav-link" href="#">{{home}}</a>
            <a class="nav-link" href="#"> {{about}}</a>
            <a class="nav-link" href="#"> {{livre}}</a>
            <a class="nav-link" href="#"> {{blog}}</a>
            <a class="nav-link" href="#"> {{contact}}</a>
        </div>
      </div>
    </div>
</nav>
<div class="couverture">
    <p class="couverture-slogan">L'ART DE SE NOURRIR
      <br>
      <button class="En-voir-plus">En voir plus</button>
    <p>
</div>
<div class="Icons">
  <a href="https://www.pinterest.fr/"><i class="bi bi-pinterest"></i></a>
  <a href="htts://www.facebook.com"><i class="bi bi-facebook"></i></a>
  <a href="https://twitter.com/?lang=fr"><i class="bi bi-twitter"></i></a>
  <a href="https://www.whatsapp.com/?lang=fr"><i class="bi bi-whatsapp"></i></a>
</div>  
<div class="footer">
  <div class="footer-content">
    <a><p class="one">Mentions légales</p></a>
    <div class="two">
        <a><p>Politique en matière de cookies</p></a>
        <a><p>Politique de confidentialité</p></a>
        <a><p>Conditions d'utilisation</p></a>
    </div>
  </div>
</div>
