@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@600&family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
.couverture{
    background-image: url("../../assets/couverture.jpeg" );
    background-size:cover;
    height: 87vh;
    font-size: 80px;
    position: relative;
    text-align:center;
    display: grid;
    align-content: center;
    justify-content: center;
    color:#90cefbcc;
    font-family: 'Patrick Hand', cursive;
    margin: 0px 40px;
    .En-voir-plus{
        font-size:x-large;
        border:whitesmoke solid;
        background-color: transparent;
        padding: 20px 100px 20px 100px;
        border-width:2px;
        
    }
}



