<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  d-flex justify-content-around" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#"><h3>J.Allisa</h3></a>
            <a class="nav-link" href="#">{{home}}</a>
            <a class="nav-link" href="#"> {{about}}</a>
            <a class="nav-link" href="#"> {{livre}}</a>
            <a class="nav-link" href="#"> {{blog}}</a>
            <a class="nav-link" href="#"> {{contact}}</a>
        </div>
      </div>
    </div>
</nav>
<div class="couverture">
    <p class="couverture-slogan">L'ART DE SE NOURRIR
      <br>
      <button class="En-voir-plus">En voir plus</button>
    <p>
</div>
<div class="Icons">
  <div>
    <i class="bi bi-pinterest"></i>
    <i class="bi bi-facebook"></i>
    <i class="bi bi-twitter"></i>
    <i class="bi bi-whatsapp"></i>
  </div>
  
</div>
