@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@600&family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
.navbar-nav{
   align-items: center;
   margin-left: auto;
   margin-right: auto;
    .active{
    font-family: 'Lobster', cursive;

    font-family: 'Quicksand', sans-serif;

    font-family: 'Water Brush', cursive;
    
    }
   .nav-link{
        color:rgba(78, 77, 77, 0.9);
        font-size:25px;
        ;
        margin-left:56px;
        margin-right: 56px;
        font-family: 'Patrick Hand', cursive;

    }    
}
.couverture{
    background-image: url("../../assets/csavoir.avif" );
    background-size:cover;
    height: 87vh;
    font-size: 80px;
    position: relative;
    text-align:center;
    display: grid;
    align-content: center;
    justify-content: center;
    color:#2A2550;
    font-family: 'Patrick Hand', cursive;
    margin: 0px 40px;
    .En-voir-plus{
        font-size:x-large;
        border:whitesmoke solid;
        background-color: transparent;
        padding: 20px 100px 20px 100px;
        border-width:2px;
        
    }
}
.Icons{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
        margin: 20px;
        color: black;
    }
}
.footer{
    display: grid;
    justify-content:center;
    color:grey;
    
    p{
        margin-top: 20px;
    }
}



